
body { 
    background-color: #fff;
    display: block;
    height: auto;
    font-family: "Avenir", Arial, serif;
    font-size: 100%;
    margin: 0;
    text-align: center;
} 

/* === General Styles === */
.cd-section {
    min-height: 30em;
    padding: 1em;
    position: relative;
}

.cd-section:nth-child(even) {
    background: #d2d2d2;
}

a {
    text-decoration: none;
}

img {
    max-width: 10em;
}

/* === Header === */
.cd-nav-container {
    background: #fff;
    display: flex;
}

.cd-logo-container img {
    max-width: 4em;
}

.cd-logo-container {
    flex: 1;
}

.cd-nav-items {
    flex: 6;
}

.cd-header-links {
    float: right;
}

.cd-header-links li {
    display: inline-block;
    list-style: none;
    margin-right: 1.5em;     
}

.cd-header-links li a {
    vertical-align: -webkit-baseline-middle;  
}

.cd-home-banner {
    /* background: url('images/sandiego.jpg'); */
    background: #00aee8;
    height: 30em;
}

.cd-home-headers {
    text-align: center;
    padding: 8em;
}

.cd-home-headers h2 {
    text-transform: uppercase;
}

.cd-home-headers h1,
.cd-home-headers h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

/* === Body Styles === */
.cd-solutions-container {
    display: flex;
    justify-content: space-between;
}
.cd-solution-type {
    border: 1px solid #000;
    box-shadow: 1px 1px 1px;
    margin: 2em;
    max-width: 15em;
    padding: 1em;
}
.cd-solution-title {
    margin-top: 0;
}
.cd-solution-description {
    margin: 0;
}
.section-container {
    padding: 1em;
}
.section-container.section-header {
    max-width: 60em;
    margin: 0 auto;
}
.section-container.our-service {
    max-width: 50em;
    margin: 0 auto;
}
.section-container.steps-section {
    max-width: auto;
}
h3.cd-section-subheading {
    max-width: 30em;
    margin: 0 auto;
}


/* === Our Service Section === */
.cd-explainer-container {
    border: 1px solid #000;
    padding: 1em;
    max-width: 70em;
    margin: 0 auto;
}

.cd-steps-listings {
    display: flex;
    list-style: none;
    padding: 0;
}

.cd-step {
    margin: 0 .75em;
    padding: .75em;
}


